%h1= "#{@project["name"]} (#{@project["default_locale"]})"
%p It doesn't look like you've set up your application to work with TextTractor yet. If you know what you're doing your API key is:
%p.api_key= @project["api_key"]

%p Otherwise, follow the instructions below to configure a Rails 3 application:

%p Add Copycopter client to your Gemfile
%code gem "copycopter_client"

%p Then create config/initializers/text_tractor.rb with the following content:
%code= TextTractor::Projects.configuration_block(@project)

%p And finally, restart your application server. Your appliction will then upload translations and this page will disappear.
%p 
  As you open each page you'll see the translations defined on those pages appear here. Any changes you make from this web interface
  will appear within your development and staging applications shortly afterwards.
