%h1= "#{@project["name"]} (#{@locale})"
%ul#locales
  - @project.locales.each do |locale|
    %li
      - if locale == @locale
        = locale
      - else
        %a{ href: "/projects/#{@project.api_key}/#{locale}" }= locale

%p Click on a phrase to edit it.

%dl
  - @phrases.sort.each do |key, value|
    = haml :"blurbs/value", :layout => false, :locals => { :phrase => value[@locale], :key => key, :locale => @locale, :original => value[@project.default_locale], :show_original => @project.default_locale != @locale }
