%h1= "#{@project["name"]} (#{@locale})"
%ul#locales
  - @project.locales.each do |locale|
    %li
      - if locale == @locale
        = locale
      - else
        %a{ href: "/projects/#{@project.api_key}/#{locale}" }= locale

%p Click on a phrase to edit it.

%dl
  - @phrases.sort.each do |key, value|
    %dt= key.split(".").collect { |part| part.gsub("_", " ").capitalize }.join(" / ")
    %dd{ "data-key" => key }
      - if value[@locale]
        %p.translation= value[@locale]
      - else
        %p.translation.empty Click to add a translation
      - if @locale != @project.default_locale
        %p.original= value[@project.default_locale]
